<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.atlas.orianofood.core.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="ExtraText">
        <activity android:name="com.atlas.orianofood.mvvm.activity.EmptyCart"></activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" /> <!-- MVVM -->
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.HomeSPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.GallerySPActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.TermsAndCondition"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.CategorySPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.ProductSPActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.mvvm.activity.MyCartSpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" /> <!-- FireBase RT -->
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />
                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
            -->
        </activity>
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.SubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.SignInActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.SignUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.ResetPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.MyAddressesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.AddAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.OrdersActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.UpdateEmailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.VerifyPhoneAuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.VerifyPhoneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.CategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.ProductCategoryActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.ProductActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.CartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />
        <activity
            android:name="com.atlas.orianofood.firebaseRT.activity.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarAppTheme" />

        <receiver android:name="com.atlas.orianofood.mvvm.reciver.StateChangeReciver">
            <intent-filter android:priority="10000">
                <action android:name="com.atlas.orianofood.CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>